.wrapper{
    border: solid 1px black;
    padding: 10px 10px;
    border-radius: 1rem;
    background: linear-gradient(
        90deg,
        rgba(21, 19, 64, 1) 0%,
        rgba(133, 133, 232, 1) 0%,
        rgba(0, 212, 255, 1) 100%,
        rgba(2, 0, 36, 1) 100%
      );
}