.wrapper {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px;
  border-radius: 10px;
  overflow-y: auto;
}

.chapterTitle {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
  border-radius: 10px;
}

.lessonWrapper {
  display: flex;
  flex-direction: column;
}

.lessonHidden {
  visibility: hidden;
  max-height: 0;
}

.lesson {
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}
