.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  text-align: start;
  padding: 0 10rem 0 10rem;
}

.wrapper > * {
  width: 100%;
}

.wrapper > input {
  background-color: #e5e5e5;
  padding: 1rem;
  border: none;
  border-radius: 6px;
}
